.ir-su {overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#Calculator {
    min-width: 320px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SUIT-Medium';
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 320px;
    height: 550px;
    box-sizing: border-box;
    margin: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #ddd;
    background-color: linen;
}

.items {
    background-color: burlywood;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items.inputArea {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: powderblue;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    pointer-events: none;
}

.items.opEqual {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;
}

.items.opPlus, .items.opMinus, .items.opMultiply, .items.opDivide {
    background-color: darkseagreen;
}

.items.opEqual {
    background-color: rosybrown;
}

.items:not(.inputArea) {
    cursor: pointer;
    transition: opacity .1s;
}
.items:not(.inputArea):hover {
    opacity: 0.8;
}